{{> head}}
{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Joe satrini</h1>
            <p>
                Guitarrista virtuoso
            </p>
        </div>
        
        <div class="col-4">
            <img src="assets/img/FRONT.jpg" class="img-thumbnail"
        </div>
      
    </div>
      
    </div>

{{> footer}}